/* this style sheet is for weeks 1-4 only */

body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: #e4d1bd;
}

.heading {
    font-size: x-large;
    color: #703F37;
    text-align: center;
}

.daily{
    font-size: larger;
    color: #703F37;
} 

.day{
    font-size: x-large;
    text-align: center;
    color: #703F37;
}

p {
    color: #7d94b5;
}

span {
    color: #2b64b3;
    font-weight: bolder;
}

.final {
    color: #c29591;
    font-size: x-large;
    text-align: center;
    margin: 50px;
    border: 10px #7d94b5 solid;
}

button {
    padding: 10px;
    margin: 5px;
}
